<%-include("partials/header");-%>
<div class="container full-width">

    <div class=" w-75  mx-auto m-4 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-black">
            
            <strong class="d-inline-block mb-2 text-primary"><%-post.topic-%></strong>
            <h3 class="mb-0"><%-post.title-%></h3>
            <div class="mb-1 text-muted"><%-date-%></div>
            <p class="card-text mb-auto"><%-post.content-%></p>
            
        </div>
        
    </div>
</div>

<%-include("partials/footer");-%>